.search-bar {
    padding: 0.5rem;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    font-size: 1rem;
    
  }

  .search {
    display: flex;
    justify-content: center;
  }
  